node_modules
demo/demo.mp4
development_dependencies
scripts/lazy.nvim/
/luarocks
/lua_modules
/.luarocks
.repro
*.pem
packages/integration-tests/test-environment/testdirs
packages/integration-tests/cypress/screenshots
