---
name: Release
on:
  push:
    branches:
      - main

env:
  # renovate: datasource=npm depName=semantic-release
  SEMANTIC_RELEASE_VERSION: 25.0.2
  # renovate: datasource=npm depName=@semantic-release/exec
  SEMANTIC_RELEASE_EXEC_VERSION: 7.0.3
  # renovate: datasource=npm depName=@semantic-release/git
  SEMANTIC_RELEASE_GIT_VERSION: 10.0.1

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >
          npx --package semantic-release@${{ env.SEMANTIC_RELEASE_VERSION }}
          --package @semantic-release/exec@${{ env.SEMANTIC_RELEASE_EXEC_VERSION
          }} --package @semantic-release/git@${{
          env.SEMANTIC_RELEASE_GIT_VERSION }} semantic-release
