---
name: Run tests
on:
  pull_request: ~
  push:
    branches:
      - main

jobs:
  build:
    name: Run tests
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install tools with UBI
        shell: bash
        run: |
          mkdir -p "$HOME/.local/bin"
          # make the tools available for subsequent steps
          echo "$(pwd)/bin" >> "$GITHUB_PATH"
          curl --silent --location \
              https://raw.githubusercontent.com/houseabsolute/ubi/master/bootstrap/bootstrap-ubi.sh |
              TARGET="$HOME/.local/bin" sh

          ubi --project mikefarah/yq

          # fd is used for searching files
          VERSION=$(yq '.tools."ubi:sharkdp/fd"' .mise.toml)
          ubi --project sharkdp/fd --tag "v$VERSION"

          # ripgrep is a snacks.nvim grep dependency
          VERSION=$(yq '.tools."ubi:BurntSushi/ripgrep".version' .mise.toml)
          ubi --project BurntSushi/ripgrep --tag "$VERSION" --exe rg

          # realpath is used to resolve relative paths
          which realpath || {
            # just fail with an error message if realpath is not found
            echo "realpath is not installed, but it should be part of GNU coreutils and included in Ubuntu"
            exit 1
          }

          ls -alR bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        uses: nvim-neorocks/nvim-busted-action@bbcfe82d35b8fb4660ef6ed4124e1fd9cef4688b # v1.2.0
        with:
          nvim_version: nightly
          luarocks_version: "3.11.1"

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          # https://github.com/pnpm/action-setup?tab=readme-ov-file#use-cache-to-reduce-installation-time
          run_install: false
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: "pnpm"
      - run: pnpm install

      # need to work around https://github.com/cypress-io/github-action/issues/1246
      - run: pnpm --filter integration-tests exec cypress install

      - name: Preinstall neovim plugins
        run: pnpm tui neovim exec "Lazy! sync"
        working-directory: packages/integration-tests

      - name: Cypress test
        uses: cypress-io/github-action@v6
        with:
          install: false
          working-directory: packages/integration-tests
          command: pnpm exec tui run

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        # add the line below to store screenshots only on failures
        # if: failure()
        if: failure()
        with:
          name: cypress-screenshots
          path: packages/integration-tests/cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
